/* styles.css */
@font-face {
    font-family: 'font1';
    src: url('./font/font1.ttf') format('truetype');
}

@font-face {
    font-family: 'titleFont';
    src: url('./font/font7.ttf') format('truetype');
}

@media (max-width: 768px) {

    .player-input-container,
    .player-number-container,
    player-tag-container {
        flex-direction: column;
        /* Stack elements vertically on small screens */
    }

    .player-input,
    .player-number,
    .player-tag,
    player-tag-container {
        width: 100%;
        /* Adjust width for smaller screens */
        /* Other adjustments */
    }
}


.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
}

.left-column img {
    margin-bottom: 10px;
    /* Adds some spacing between the images */
}

.right-column {
    flex: 1;
    background-color: #e0e0e0;
    padding: 20px;
}

.shadow {

    width: 600px;
}

.header-wrapper {
    position: relative;
}

.header {
    width: 600px;
}

.header-input {
    position: absolute;
    top: 45px;
    /* Adjust these values to position the textbox */
    left: 300px;
    transform: translate(-50%, -50%);
    /* Centers the textbox */
    text-align: center;
    width: 500px;
    background: none;
    border: none;
    outline: none;
    font-family: 'titleFont';
    font-size: 55px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* To space the button images evenly */
    margin-top: 10px;
    /* Adjust the margin to create spacing between the images */
}

.button {
    width: 200px;
    /* Set the desired width for the button images */
    height: 60px;
    /* Maintain aspect ratio */
}

.lineupContainer {
    overflow: visible !important;
}

.player-tag-container {
    position: absolute;
    top: 245px;
    left: 60px;
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.player-tag {
    display: flex;
    align-items: center;
    /* Adjust as needed for spacing between each player tag */
}

.player-sub-tag {
    display: flex;
    align-items: center;
    /* Adjust as needed for spacing between each player tag */
}

.playerTag {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: -9px;
    padding: 0;
    /* Adjust the opacity as needed */
}

.player-sub-tag-container {
    position: absolute;
    top: 608px;
    left: 60px;
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.player-input-container {
    position: absolute;
    top: 242px;
    left: 70px;
    width: 80px;
    height: 23px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: visible !important;

}

.player-number-container {
    position: absolute;
    top: 242px;
    left: 28px;
    width: 80px;
    background: none;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.player-number {
    position: relative;
    width: 30px;
    margin-top: 0px;
    top: 0px;
    margin-bottom: 11px;
    height: 20px;
    margin-left: 23px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    font-family: 'font1', sans-serif;
    font-size: 19px;
    color: #68c5ff;
    text-shadow: 3px 3px 0px rgba(0, 15, 95, 1);
    /* Adjust this to align with the playerTag */
}

.playerSubTag {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: -9px;
    padding: 0;
    /* Adjust the opacity as needed */
}

.player-input {
    position: relative;

    width: 250px;
    margin-top: 0px;
    margin-bottom: 11px;
    height: 20px;
    margin-left: 30px;
    border: none;
    outline: none;
    background: none;
    font-family: 'font1', sans-serif;
    font-size: 19px;
    color: #e0e0e0;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
    line-height: 22px;
    overflow: visible !important;
    

    /* Adjust this to align with the playerTag */
}