/* styles.css */
@font-face {
    font-family: 'font1';
    src: url('./font/font1.ttf') format('truetype');
}

@font-face {
    font-family: 'font2';
    src: url('./font/font2.ttf') format('truetype');
}

@font-face {
    font-family: 'titleFont';
    src: url('./font/font7.ttf') format('truetype');
}

@media (max-width: 768px) {

    .player-input-container,
    .player-number-container,
    player-tag-container {
        flex-direction: column;
        /* Stack elements vertically on small screens */
    }

    .player-input,
    .player-number,
    .player-tag,
    player-tag-container {
        width: 100%;
        /* Adjust width for smaller screens */
        /* Other adjustments */
    }
}
body {
    overflow: hidden;
    /* Disable scrolling */
}

.main-container {
    position: relative;
    opacity: 100%;
    color: #333;
    background-image: url("../src/img/bgs/bg5.jpg");
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(100px);
    background-color: rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-image {
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100vh;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.navbar {
    background-color: rgba(45, 45, 45, 0.2);
    backdrop-filter: blur(10px);
    color: #5b5b5b;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.nav-list li {
    margin: 0 20px;
    /* Add spacing between list items */
}

.nav-list li a {
    text-decoration: none;
    color: #505050;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    /* Add rounded corners */
    transition: background-color 0.3s ease;
    /* Add smooth hover transition */
}

.nav-list li a:hover {
    background-color: #ffd700;
    /* Change to your desired hover color */
    color: #333;
    /* Change text color on hover */
}

.container {
    padding: 20px;
}

.lineup-and-field-container {
    display: flex;
    justify-content: center;
        /* Center horizontally */
    align-items: center;
        /* Center vertically */
    
}

.lineup-and-field-container img {
    margin-bottom: 10px;
    /* Adds some spacing between the images */
}


.pitchContainer{
    display: block;
    color: #999;
}

#field.field-image {
    background-image: url('/src/img/Field_B.png');
    background-color: initial;
    background-size: 600px 834px;
}

#field {
    height: 834px;
    width: 600px;
    position: relative;
}

.field-image {
    
    left: 10px;
    max-width: 600px;
    height: auto;
}

/* Add CSS classes for individual cells or lines if necessary */
.cell-1 {
    grid-column: 1 / 2;
    /* Adjust column placement */
    grid-row: 1 / 2;
    /* Adjust row placement */
    /* You can add border, background, or other styling here */
}

#shadow {
    height: 650px;
    width: 600px;
    position: relative;
}

#shadow.shadow-image {
    background-image: url('/src/img/Shadow_B.png');
    background-size: 600px 650px;
}

.header-wrapper {
    position: relative;
}

.header {
    width: 600px;
}

.header-input {
    position: absolute;
    top: 45px;
    /* Adjust these values to position the textbox */
    left: 300px;
    transform: translate(-50%, -50%);
    /* Centers the textbox */
    text-align: center;
    width: 500px;
    background: none;
    border: none;
    outline: none;
    font-family: 'titleFont';
    font-size: 55px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.5);
}

.button-container {
    display: flex;
    justify-content: space-between;
    /* To space the button images evenly */
    margin-top: 10px;
    /* Adjust the margin to create spacing between the images */
}

.button {
    width: 200px;
    /* Set the desired width for the button images */
    height: 60px;
    /* Maintain aspect ratio */
}

.lineupContainer {
    overflow: visible !important;
}

.player-tag-container {
    position: relative;
    left: 30px;
    top: 30px;
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.player-tag {
    display: flex;
    align-items: center;
    /* Adjust as needed for spacing between each player tag */
}

.player-sub-tag {
    display: flex;
    align-items: center;
    /* Adjust as needed for spacing between each player tag */
}

.playerTag {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: -9px;
    padding: 0;
    /* Adjust the opacity as needed */
}

.player-sub-tag-container {
    position: relative;
    top: 30px;
    left: 30px;
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.player-input-container {
    position: absolute;
    top: 28px;
    left: 45px;
    width: 80px;
    height: 23px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: left;
    overflow: visible !important;

}

.player-number-container {
    position: absolute;
    top: 28px;
    width: 80px;
    background: none;
    height: 23px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.player-number {
    position: relative;
    width: 30px;
    margin-top: 0px;
    top: 0px;
    margin-bottom: 11px;
    height: 20px;
    margin-left: 23px;
    border: none;
    outline: none;
    background: none;
    text-align: center;
    font-family: 'font1', sans-serif;
    font-size: 19px;
    color: #68c5ff;
    text-shadow: 3px 3px 0px rgba(0, 15, 95, 1);
    /* Adjust this to align with the playerTag */
}

.playerSubTag {
    position: relative;
    width: 100%;
    height: auto;
    opacity: 1;
    margin: -9px;
    padding: 0;
    /* Adjust the opacity as needed */
}

.player-input {
    position: relative;

    width: 250px;
    margin-top: 0px;
    margin-bottom: 11px;
    height: 20px;
    margin-left: 30px;
    border: none;
    outline: none;
    background: none;
    font-family: 'font2', sans-serif;
    font-size: 19px;
    color: #e0e0e0;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.6);
    line-height: 22px;
    overflow: visible !important;
    

    /* Adjust this to align with the playerTag */
}